@font-face {
      font-family: ModamWeb;
      font-style: normal;
      font-weight: 200;
      src: url("./woff2/ModamWeb-ExtraLight.woff2") format("woff2"),
        /* FF39+,Chrome36+, Opera24+*/
        url("./woff/ModamWeb-ExtraLight.woff") format("woff");
      /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
    }

    @font-face {
      font-family: ModamWeb;
      font-style: normal;
      font-weight: 300;
      src: url("./woff2/ModamWeb-Light.woff2") format("woff2"),
        /* FF39+,Chrome36+, Opera24+*/
        url("./woff/ModamWeb-Light.woff") format("woff");
      /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
    }

    @font-face {
      font-family: ModamWeb;
      font-style: normal;
      font-weight: normal;
      src: url("./woff2/ModamWeb-Regular.woff2") format("woff2"),
        /* FF39+,Chrome36+, Opera24+*/
        url("./woff/ModamWeb-Regular.woff") format("woff");
      /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
    }

    @font-face {
      font-family: ModamWeb;
      font-style: normal;
      font-weight: 500;
      src: url("./woff2/ModamWeb-Medium.woff2") format("woff2"),
        /* FF39+,Chrome36+, Opera24+*/
        url("./woff/ModamWeb-Medium.woff") format("woff");
      /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
    }

    @font-face {
      font-family: ModamWeb;
      font-style: normal;
      font-weight: 600;
      src: url("./woff2/ModamWeb-Semibold.woff2") format("woff2"),
        /* FF39+,Chrome36+, Opera24+*/
        url("./woff/ModamWeb-Semibold.woff") format("woff");
      /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
    }

    @font-face {
      font-family: ModamWeb;
      font-style: normal;
      font-weight: bold;
      src: url("./woff2/ModamWeb-Bold.woff2") format("woff2"),
        /* FF39+,Chrome36+, Opera24+*/
        url("./assets/fonts/woff/ModamWeb-Bold.woff") format("woff");
      /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
    }

    @font-face {
      font-family: ModamWeb;
      font-style: normal;
      font-weight: 800;
      src: url("./woff2/ModamWeb-ExtraBold.woff2") format("woff2"),
        /* FF39+,Chrome36+, Opera24+*/
        url("./assets/fonts/woff/ModamWeb-ExtraBold.woff") format("woff");
      /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
    }

    @font-face {
      font-family: ModamWeb;
      font-style: normal;
      font-weight: 900;
      src: url("./woff2/ModamWeb-Black.woff2") format("woff2"),
        /* FF39+,Chrome36+, Opera24+*/
        url("./woff/ModamWeb-Black.woff") format("woff");
      /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
    }